extends ../layouts/layout

block content
	main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
		h2= subTitle
		div(class="col-md-12")
			a(href="http://localhost:3000/dashboard/category" class="btn btn-dark" id="create") Création Catégorie
		div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
			div(class="table-responsive")
				table(class="table table-striped table-sm")
					thead
						tr
							th(class="text-center") Nom
							th(class="text-center") Actions
					tbody
						if rows && rows.length > 0 && rows.length <= 25
						each row in rows
							tr
								td(class="tablerow d-flex justify-content-center" )= unescape(row.tag)
								td(class="tablerow" )
									div(class="d-flex justify-content-center")
										a(href=`http://localhost:3000/dashboard/category/${row.id}` class="btn btn-dark") Editer
										a(href="" class="btn btn-dark" onClick=`javascript:deleteCategory(${row.id},\`${unescape(row.tag)}\`)`) Supprimer
		if rows && rows.length == 25
		div(class="row d-flex flex-row-reverses")
			div(class="col-md-2 d-flex justify-content-between")
				if(page === 1)
					a(href="http://" class="btn btn-dark disabled" aria_disabled='true') Precedent
				else
					a(href=`http://localhost:3000/dashboard/categories?page=${previousPage}` class="btn btn-dark ") Précédent
				if(maxPage === 0 )
					a(href="http://" class="btn btn-dark disabled" aria_disabled='true') Suivant
				else
					a(href=`http://localhost:3000/dashboard/categories?page=${nextPage}` class="btn btn-dark") Suivant
