extends layouts/layout

block content
	div(class="row" id="navbar" )
		div(class="col-md-12 d-flex justify-content-around")
			a(href="http://localhost:3000/dashboard/login" class="btn btn-dark") Déconnexion
			a(href="http://localhost:3000/dashboard/article" class="btn btn-dark") Création Article
			a(href="http://localhost:3000/dashboard" class="btn btn-dark") Articles
			a(href="http://localhost:3000/dashboard/categories" class="btn btn-dark") Catégories
			a(href="http://localhost:3000/dashboard/login?reset='true'" class="btn btn-dark") Configuration
	div(class="row")
		div(class="col-md-12")
			h2= subTitle
	div(class="row")
		div(class="col-md-5")
			form(action="/dashboard/article", method="POST")
				div(class="form-group")
					label(for="title") Titre de l'article
					if article
						input(type="text", name="title" id="title" class="form-control" value=`${article.title}`)
					else
						input(type="text", name="title" class="form-control")
				div(class="form-group")
					div(class="row")
						div(class="col-md-7")
							label(for="content") Contenue de l'article
							if article
								textarea(id="content" name="content", cols="30", rows="10" class="form-control" )= article.content
							else
								textarea(name="content", cols="30", rows="10" class="form-control")
						div(class="col-md-4")
							label(for="categories") Catégories
							select(id="categories" name="categories" class="selectpicker" multiple data-live-search="true")
								if categories && categories.length > 0
									each category in categories
										if article && category.id_article == article.id
											option(value=`${category.id}`, selected ) #{unescape(category.tag)}
										else
											option(value=`${category.id}`) #{unescape(category.tag)}
				div(class="col-md-6 d-flex justify-content-between")
					a(href="http://localhost:3000/dashboard" class="btn btn-dark") Annuler
					if article
						button(type="button" class="btn btn-dark" onClick=`javascript:putArticle(${article.id})`) Sauvegader
					else
						button(type="submit" class="btn btn-dark") Créer