extends layouts/layout

block content
	div(class="row")
		div(class="col-md-12")
			h2= subTitle
	div(class="row")
		div(class="col-md-12")
			table(class="table table-bordered")
				tbody
					if rows && rows.length > 0 && rows.length <= 25
						each row in rows
							tr
								td(class="col-md-12 d-flex justify-content-between tablerow" )= unescape(row.tag)
									div(class="col-md-3 d-flex justify-content-between")
										a(href=`http://localhost:3000/dashboard/categories/${row.id}` class="btn btn-dark") Editer
										a(href="" class="btn btn-dark" onClick=`javascript:deleteCategory(${row.id},\`${unescape(row.tag)}\`)`) Supprimer
	if rows && rows.length == 25
	div(class="row d-flex flex-row-reverses")
		div(class="col-md-2 d-flex justify-content-between")
			if(page === 1)
				a(href="http://" class="btn btn-dark disabled" aria_disabled='true') Precedent
			else
				a(href=`http://localhost:3000/dashboard/categories?page=${previousPage}` class="btn btn-dark ") Précédent
			if(maxPage === 0 )
				a(href="http://" class="btn btn-dark disabled" aria_disabled='true') Suivant
			else
				a(href=`http://localhost:3000/dashboard/categories?page=${nextPage}` class="btn btn-dark") Suivant
	div(class="row")
		div(class="col-md-12")
			h2 Création d'une Catégorie
	div(class="row")
		div(class="col-md-5")
			form(action="/dashboard/categories", method="POST")
				div(class="form-group")
					label(for="tag") Nom de la catégorie
					input(type="text", name="tag" class="form-control")
				div(class="col-md-5 d-flex justify-content-between")
					button(type="submit" class="btn btn-dark") Créer